:host {
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: min(100%, 400px);
  margin: auto;
}

.name {
  font-size: 1.2em;
  font-weight: 500;
  color: #747880;
  margin-bottom: 1em;
}

.price {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 1em;
}
