<mat-dialog-content>
  <div>
    <p class="back-to-market">
      <button mat-button [matDialogClose]>
        <mat-icon aria-label="Back to the market">arrow_back</mat-icon>
        Back to the market
      </button>
    </p>
    
    <app-article [article]="article"></app-article>
  </div>
  
  <div>
    <button mat-raised-button 
      color="primary" 
      (click)="pay('apple-pay')" 
      class="full-width pay-button"
    >
      <mat-icon svgIcon="apple_logo" [inline]="true"></mat-icon>
      Pay
    </button>
    
    <p class="sidelines">Or pay with card</p>
    
    <app-credit-card-form #creditCard></app-credit-card-form>

    <button mat-raised-button 
      color="primary" 
      (click)="pay('card')"
      [disabled]="!creditCard.isValid"
      class="full-width pay-button"
    >
      Pay {{ article.price }}
    </button>
    
    <div class="redsys">
      <p>Powered by <img src="assets/images/redsys.png"></p>
      <p class="separator">|</p>
      <ul>
        <li><a href="https://www.redsys.es/">Terms</a></li>
        <li><a href="https://www.redsys.es/">Policy</a></li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
