<mat-dialog-content>
  <p class="left">
    <a mat-button [matDialogClose]>
      <mat-icon aria-label="Back to the market">arrow_back</mat-icon>
      Back to the market
    </a>
  </p>
  
  <app-article [article]="article" class="left"></app-article>
  
  <button mat-raised-button 
    color="primary" 
    (click)="pay('apple-pay')" 
    class="right full-width"
  >
    Pay
  </button>
  
  <p class="right sidelines">Or pay with card</p>
  
  <app-credit-card-form #creditCard class="right"></app-credit-card-form>

  <button mat-raised-button 
    color="primary" 
    (click)="pay('card')"
    [disabled]="!creditCard.isValid"
    class="right full-width"
  >
    Pay {{ article.price }}
  </button>
  
  <div class="left redsys">
    <p>Powered by <img src="assets/images/redsys.png"></p>
    <p class="separator">|</p>
    <ul>
      <li><a href="https://www.redsys.es/">Terms</a></li>
      <li><a href="https://www.redsys.es/">Policy</a></li>
    </ul>
  </div>
</mat-dialog-content>
